
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_OurLayOut.cshtml";
}

<h2 class="text-center text-capitalize my-3">About</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <p class="text-capitalize">
                market site. It is the largest and most famous commercial site in the world. One of the most important features of Souq is that it provides the right place for each of the merchants,
                to display and sell their products, and this makes it the largest online store. A market that connects distributors with customers
                Souq is proud to offer the largest selection of different products, including antiques, handmade figurines, postage stamps, piggy banks, nutritional supplements,
                health and beauty products, electronic devices and many other needs.
                Souq provides you with the best buying service and provides you with videos that explain important tips that will help you.

                This is a market that offers you a variety of products such as mobiles, clothes, accessories, beauty products and electronic equipment supplies,
                as well as the possibility of buying new or used products, in addition to providing comments on products and unparalleled offers.

                Shipping fees vary according to the product, weight, and country, and take within 3 to 5 days.
                Souq offers the possibility of paying cash upon receipt,
                but this does not apply to all products because it varies according to the desire of each supplier/seller. If you do not like the product,
                you have the right to return it within 3 days according to the exchange and return policy, and 14 days for clothes.
            </p>
        </div>
    </div>
</div>

